ul.skills {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}
ul.skills li {
  display: flex;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  gap: 9px;
  border: 1px solid var(--color-gray-dark);
  background-color: var(--color-opacity-two);
  color: var(--color-gray-dark);
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  box-shadow: 3px 3px 6px var(--color-opacity);
  transition: all 0.4s;
  transform: translateY(-6px);
}
ul.skills li:hover {
  transform: scale(1.05) translateY(0);
}
.horizontal-desktop {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.profile-image {
  position: relative;
  padding: 6px;
  background-color: var(--color-two);
  width: 100%;
  max-width: 300px;
  border-radius: 80px;
  overflow: hidden;
  transition: all 0.8s ease-out;
  transform: translateX(-30%);
}
.profile-image.active {
  transform: none;
}
.profile-image.active .profile-text {
  visibility: visible;
  transform: none;
}
.profile-image.active img {
  transform: scale(1.05) translate(3%, -3%) rotate(-3deg);
}
.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  box-shadow: 5px 5px 8px var(--color-opacity);
  transition: all 0.8s ease-in-out;
}
.profile-image .profile-text {
  border-top: 2px solid var(--bg);
  border-radius: 30% 30% 0 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 32px;
  background-color: var(--color-opacity-dark);
  width: 100%;
  color: rgb(244, 250, 234) !important;
  transform: translateY(150px);
  transition: all 0.8s ease;
}
.profile-image .profile-text p {
  font-size: 0.9rem;
  color: inherit;
}
.logo-container {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1;
  justify-content: flex-start;
}
.logo-container h4 {
  font-size: 1.5rem;
  font-family: "Sunflower";
  letter-spacing: -0.1rem;
  font-weight: 100;
  text-shadow: 2px 2px 3px var(--color-opacity);
}
.logo-container img {
  height: 40px;
}
.logo-container-mid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container-mid img {
  max-width: 140px;
  background-color: var(--bg-logo);
  border-radius: 20% 20% 50% 20%;
  border-left: 2px solid var(--color-two);
  border-top: 2px solid var(--color-two);
  border-right: 2px solid var(--color-one);
  border-bottom: 1px solid var(--color-one);
  box-shadow: 0 3px 8px var(--color-opacity);
}
footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--bg);
  padding: 2rem 5rem;
  text-align: center;
  width: 100%;
}
footer p {
  font-size: 1rem;
}
.fixed-contact-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 0.4s;
  opacity: 1;
}
.fixed-contact-btn.hidden {
  visibility: hidden;
  opacity: 0;
}
.circle-bg {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-opacity);
  border-radius: 100px;
  border: 1px solid var(--color-opacity-text);
  font-size: 2.5rem;
  color: var(--color-opacity-text);
  cursor: pointer;
  transition: all 0.4s;
  box-shadow: 3px 4px 6px var(--color-opacity);
}
.circle-bg i {
  transition: all 0.2s ease-in-out;
  position: absolute;
  text-align: center;
}
.circle-bg i:first-child {
  opacity: 1;
}
.circle-bg i:last-child {
  opacity: 0;
}
.circle-bg:hover {
  transform: scale(1.1) rotate(8deg);
  background-color: var(--color-opacity-dark);
  color: var(--color-opacity-text-two);
  border-color: var(--color-opacity-text-two);
  box-shadow: 6px 6px 6px var(--color-opacity-dark);
}
.circle-bg:hover i:first-child {
  opacity: 0;
}
.circle-bg:hover i:last-child {
  opacity: 1;
}
.projects-grid {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.project-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  max-width: 450px;
  background-color: var(--bg);
  border-radius: 32px;
  box-shadow: 0 4px 6px var(--color-opacity);
  transition: all 0.4s ease-in-out;
  transform: scale(0.3);
  opacity: 0.6;
  z-index: 1;
}
.project-card.next {
  transform: translate(220px, 80px) scale(0.4);
}
.project-card.previous {
  transform: translate(-220px, 80px) scale(0.4);
}
.project-card.current {
  transform: scale(1) translate(0px, 0px);
  z-index: 10;
  opacity: 1;
}
.project-card .image-container {
  overflow: hidden;
}
.project-card img {
  object-fit: cover;
  height: 350px;
  width: 100%;
  transition: all 0.4s ease-in-out;
  opacity: 0.9;
}
.project-card .features span {
  background-color: var(--color-gray-light);
  font-size: 0.725rem;
  font-weight: bold;
  padding: 6px;
  border-radius: 8px;
}
.project-card .card-text {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 300px;
}
.project-card:hover {
  box-shadow: 0 4px 6px var(--color-opacity-dark);
}
.project-card:hover img {
  transform: scale(1.2) translateX(10px) translateY(20px);
  opacity: 1;
}
.project-card .btns {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
}
.project-card h4 {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-align: center;
}
.project-card p {
  font-size: 1.05rem;
}
.btns.contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  color: var(--color-two);
}
.btns.contact a {
  font-size: 1.1rem;
}
.btns a {
  color: var(--color-two);
  text-align: center;
  min-width: 115px;
  font-size: 1rem;
  border-radius: 6px;
  padding: 8px;
  transition: all 0.4s ease;
}
.btns a:first-child {
  border: 1px solid var(--color-two);
}
.btns a:first-child:hover {
  border-color: white;
  background-color: var(--color-two);
  color: white;
}
.btns a:hover {
  background-color: var(--color-opacity);
  color: var(--color-one);
}
.full-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: var(--color-opacity-dark);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease-in-out;
  visibility: none;
  opacity: 0;
  transform: translateY(100%) translateX(100%) scale(0.01);
}
.full-modal .modal-content {
  position: relative;
  background-color: var(--bg);
  width: 100%;
  max-width: 500px;
  min-height: 800px;
  padding: 24px;
  padding-top: 48px;
  border-radius: 24px;
  opacity: 0;
  transition: all 0.9s ease-in-out;
  box-shadow: 0 6px 8px var(--color-opacity-dark);
}
.full-modal.active {
  visibility: visible;
  opacity: 1;
  transform: none;
}
.full-modal.active .modal-content {
  opacity: 1;
}
.modal-content .fa-xmark {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 2rem;
  color: var(--color-one);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.modal-content .fa-xmark:hover {
  color: var(--color-opacity-three);
  transform: scale(1.1);
  text-shadow: 3px 3px 5px var(--color-opacity-two);
}
.form-container form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto;
  align-items: center;
}
.form-container form :nth-child(even) {
  margin-bottom: 16px;
}
.form-btn {
  max-width: 120px;
  padding: 0.7rem 1rem;
  background-color: var(--bg-btn);
  color: var(--color-one);
  border: 1px solid var(--color-one);
  border-radius: 4px;
  margin-top: 36px;
  transition: all 0.4s;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-variant: small-caps;
}
.form-btn:hover {
  cursor: pointer;
  background-color: var(--color-one);
  color: var(--bg-btn);
  border-color: var(--bg-btn);
  transform: scale(1.1);
  box-shadow: 4px 3px 8px var(--color-opacity);
}
/*Form parts*/
p.subheading {
  font-size: 0.8rem;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}
.form-container input,
.form-container textarea,
.form-container select {
  padding: 8px;
  width: 100%;
  max-width: 400px;
  border: none;
  border-bottom: 2px solid var(--color-two);
  box-shadow: 3px 3px 5px var(--color-opacity);
  outline: none;
}
.form-container label {
  color: var(--color-text);
  width: 100%;
  display: inline-flex;
  position: relative;
  text-align: left;
  top: 6px;
  left: 14px;
  font-size: 0.8rem;
  font-variant: small-caps;
  font-weight: 200;
}
textarea {
  resize: none;
  overflow: default;

  flex: 1;
}
.flex-center {
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
.gap-mid {
  gap: 1.4rem;
}
.btn {
  cursor: pointer;
  padding: 6px;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
  color: var(--color-one);
  text-shadow: 3px 3px 6px var(--color-opacity-three);
}
