.carousel {
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 0;
  width: 90%;
  background-color: var(--bg-secondary);
  border-radius: var(--radius-sm);
}
.carousel .content {
  padding: 16px 0;
  margin: 0;
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 100%;
  gap: 16px;
  animation: scroll 32s linear infinite;
}
.carousel .content:first-of-type {
  margin-right: 16px;
}
.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  width: 64px;
  height: 64px;
  flex: 0 0 auto;
  border-radius: var(--radius-sm);
  padding: 1px;
}
.carousel-item .icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.carousel:hover .content {
  animation-play-state: paused;
}
.carousel .fade-start {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(to right, var(--bg-secondary), transparent);
  pointer-events: none;
}
.carousel .fade-end {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(to left, var(--bg-secondary), transparent);
  pointer-events: none;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
