.project-card {
  background-color: var(--bg-secondary);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  box-shadow: var(--shadow-md);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
  &.hidden {
    display: none;
  }
  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-lg);
  }
}

.projects-container {
  width: 100%;
  gap: 24px;
  margin: 24px auto;
  max-width: 1200px;
  padding: 0 12px;
  &.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

    & .project-card.animate {
      animation: slideSlightUp 0.8s ease-out forwards;
    }
  }
  &.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .project-card {
      border-left: 4px solid var(--accent);
      &.animate {
        animation: slideSlightLeft 0.8s ease-out forwards;
      }
    }
  }
}
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-title {
  font-size: 1.25rem;
  margin-bottom: 8px;
}
.project-description {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 6px;
}
.project-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.project-tag {
  background-color: var(--accent);
  color: var(--opacity-text);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
}
.project-links {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  flex-wrap: wrap;
  justify-content: center;
}
.project-links .square-btn {
  font-size: 0.9rem;
  padding: 10px 12px;
}
.list .project-image {
  flex-shrink: 0;
  max-width: 450px;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 0;
  border-right: 2px solid var(--border);
  box-shadow: var(--shadow-md);
}
.grid .project-content {
  z-index: 2;
  padding: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.815), var(--opacity-50));
  backdrop-filter: blur(1px) saturate(150%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  width: 100%;
  @media (min-width: 850px) {
    opacity: 0;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 850px) {
  .project-card {
    width: 100%;
    height: 250px;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 0;
    justify-content: space-between;
  }

  .project-content {
    width: 55%;
    text-align: center;
    height: 100%;
    position: static;
    background: none;
    padding: 16px;
    justify-content: center;
  }
}
@media (max-width: 849px) {
  .project-card {
    text-align: center;
  }
  .grid .project-card {
    aspect-ratio: 1/1;
  }
  .list .project-card {
    width: max-content;
    max-width: 98%;
    padding: 16px 8px;
  }
  .project-links .square-btn {
    padding: 6px 12px;
  }
}
