<header>
  <div class="topbar container full-width flex-row drop-parent">
    <button class="drp-btn"><i class="fa-solid fa-bars btn-hide"></i><i class="fa-solid fa-x btn-show"></i></button>
    <div class="drop-menu">
      <a href="../">Home</a>
      <a href="../pages/contact.html">Contact Us</a>
      <div class="anchor-with-drop-btn">
        <a class="switch-icon" href="../pages/showcase.html"
          >Template Portfolio</a
        ><button class="drp-btn">
          <i class="fa-solid fa-angle-down drop-btn-hide"></i>
          <i class="fa-solid fa-angle-up drop-btn-show"></i>
        <button>
      </div>
    </div>
  </div>
</header>
